.app {
  width: 300px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.btn-group {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.btn-group button {
  width: 100px;
  border-radius: 5px !important;
  flex: 0.4 !important;
}

.home-btn {
  margin: 20px 20px;
}

.userForm {
  width: 500px;
  margin: 0 auto;
}

.submit-btn {
  margin-right: 10px;
}

@media (min-width: 500px) {
  .app,
  .btn-group {
    width: 500px;
  }
}
